<%- include partials/header.ejs %>

<div class=" panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">My mother Eswari is always very good to me and so valuable that sometimes I feel like I have no words to describe her. She is a house maker. She really takes care of the Whole Family Members.</p>
</div>
</body>
</html>
<%- include partials/footer.ejs %>