<%- include partials/header.ejs %>

<div class=" panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Eswari is my Mother. She is a house maker. She really takes care of the Whole Family Members.</p>
</div>
</body>
</html>
<%- include partials/footer.ejs %>