<%- include partials/header.ejs %>

<div class=" panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">My Father Reddy is one and only first man in my World. He is a lovely father and a friend to both of us(Me & my Brother). We are in a good position because of him. He works for the Government in India. He is a hard-working person.</p>
</div>
</body>
</html>
<%- include partials/footer.ejs %>