<%- include partials/header.ejs %>

<div class=" panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Hi there, This is Vamsi Pusapati. I worked as a Computer Technician in SNS UPVC Solutions in Hyderabad, India.
    </p>
</div>
</body>
</html>
<%- include partials/footer.ejs %>